# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
ExternalLib/*.a
ExternalLib/*.so

# Fortran module files
*.mod
*.smod
CODE/*.mod
CODE/*.o

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CODE/ucns3d_p
